@grid-gutter-width: 40px;

.show-grid {
  [class^="col-"] {
    background-color: #eee;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid #ddd;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(86,61,124,.2);
    .box-shadow(inset 0 2px 6px rgba(0, 0, 0, 0.05));
  }
}

// Creates a wrapper for a series of columns
.make-row(@gutter: @grid-gutter-width) {
  margin-left:  (@gutter / -2);
  margin-right: (@gutter / -2);

  .clearfix();
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left:  (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);
}


// Row
//
// Rows contain and clear the floats of your columns.

.row {
  .make-row();
}


// Columns
//
// Common styles for small and large grid columns

.make-grid-columns();

.wrapper {
  width: 96%;
  max-width: 1160px;
  padding: 0;
  margin: 0 auto;
  min-width: 300px;
}


.grid()
